<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Konfiguracja symulacji</h4>
</div>
<form [formGroup]="startSimulationForm" (ngSubmit)="start()">
  <div class="modal-body">
    <div class="form-group">
      <label>Host startowy</label>
      <select formControlName="hostFromControl">
        <option *ngFor="let hostFrom of pcNodes" [ngValue]="hostFrom">
          {{ hostFrom.getName() }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Host końcowy</label>
      <select formControlName="hostToControl">
        <option *ngFor="let hostTo of pcNodes" [ngValue]="hostTo">
          {{ hostTo.getName() }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      id="btnCancel"
      type="button"
      class="btn btn-danger"
      (click)="btnCancel_Click($event)"
    >
      Anuluj
    </button>
    <button type="submit" class="btn btn-success">Start</button>
  </div>
</form>
