<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Konfiguracja PC</h4>
</div>
<form [formGroup]="configurationForm" (ngSubmit)="save()">
  <div class="modal-body">
    <div class="form-group">
      <label for="HostIdentity">Identyfikator hosta <small>(nazwa lub ip)</small></label>
      <input formControlName="HostIdentity" type="text" class="form-control" />
      <small
        *ngIf="!f.HostIdentity.valid && submitted"
        id="passwordHelp"
        class="text-danger"
        >Wprowadzony identyfikator hosta jest niepoprawny</small
      >
    </div>
  </div>
  <div class="modal-footer">
    <button
      id="btnCancel"
      type="button"
      class="btn btn-danger"
      (click)="btnCancel_Click($event)"
    >
      Anuluj
    </button>
    <button type="submit" class="btn btn-success">Zapisz</button>
  </div>
</form>
