<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Konfiguracja PC</h4>
</div>
<form [formGroup]="configurationForm" (ngSubmit)="save()">
  <div class="modal-body">
    <div class="form-group">
      <label for="Ip">IP</label>
      <input formControlName="Ip" type="text" class="form-control" />
      <small
        *ngIf="!f.Ip.valid && submitted"
        id="passwordHelp"
        class="text-danger"
        >Ip jest niepoprawne</small
      >
    </div>
    <div class="form-group">
      <label for="Mask">Maska podsieci</label>
      <input formControlName="Mask" type="text" class="form-control" />
      <small
        *ngIf="!f.Mask.valid && submitted"
        id="passwordHelp"
        class="text-danger"
        >Maska jest niepoprawna</small
      >
    </div>
    <div class="form-group">
      <label for="Gateway">Brama</label>
      <input formControlName="Gateway" type="text" class="form-control" />
      <small
        *ngIf="!f.Gateway.valid && submitted"
        id="passwordHelp"
        class="text-danger"
        >Brama jest niepoprawne</small
      >
    </div>
  </div>
  <div class="modal-footer">
    <button
      id="btnCancel"
      type="button"
      class="btn btn-danger"
      (click)="btnCancel_Click($event)"
    >
      Anuluj
    </button>
    <button type="submit" class="btn btn-success">Zapisz</button>
  </div>
</form>
