<div class="sidebar">
  <div class="item" tabindex="1" (click)="startSimulation()">
    Rozpocznij symulacje
  </div>
  <div class="item" tabindex="2" (click)="addRouter_Click()">Dodaj router</div>
  <div class="item" tabindex="3" (click)="addPc_Click()">Dodaj pc</div>
  <div class="item" tabindex="4" (click)="cbDeleteDevices_Click()">
    Usuwanie urządzeń
    <input
      id="cbDeleteDevices"
      type="checkbox"
      value="isDeleatingDevices"
      [checked]="isDeleatingDevices"
    />
  </div>
  <div class="item" tabindex="5" (click)="cbAddLinks_Click()">
    Dodawanie połączeń
    <input
      id="cbAddLinks"
      type="checkbox"
      value="isAddingLinks"
      [checked]="isAddingLinks"
    />
  </div>
  <div class="item" tabindex="6" (click)="cbDeleatingLinks_Click()">
    Usuwanie połączeń
    <input
      id="cbDeleatingLinks"
      type="checkbox"
      value="isDeleatingLinks"
      [checked]="isDeleatingLinks"
    />
  </div>
  <div class="item" tabindex="7" (click)="cbHostConfiguration_Click()">
    Konfiguracja hosta
    <input
      id="cbHostConfiguration"
      type="checkbox"
      value="isHostConfiguration"
      [checked]="isHostConfiguration"
    />
  </div>
</div>
