.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #262626;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 1px solid;
}

.item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.item:hover {
  color: white;
  background-color: green;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  text-align: right;
}

.dropdown-container {
  display: block;
  background-color: #6e6c6c;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .item {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .item {
    text-align: center;
    float: none;
  }
}
